<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ReadIt</title>
<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
<!-- <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
  		<div class="bucket"> 
        	<div id="float-right">
            	<nav class="navbar">
					<a href="/users/login">Log in</a>
					<a href="/users/signup">Sign up</a>
               	 	<a href="/posts/new">Create New Post</a>
             	 	
            	</nav>
            </div>
            <div id="float-none">
    			<nav>
    				<a href="/"><img class="logo_image" src="/images/logo.png" alt="ArtDeck_logo"></a>
					<a href="/home">Home</a>
				</nav>
    		</div>
        </div>
		<% if(errorMessages.length>0){

			errorMessages.forEach(message=>{ %>
	
				<div><%=message%></div>
				
		<%    }) } %>
	
		
		<% if(successMessages.length>0){
	
			successMessages.forEach(message=>{ %>
	
				<div><%=message%></div>
				
		<%    }) } %>
 	</div>