<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>ReadIt</title>
<link href="/css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="header">
  		<div class="bucket"> 
        	<div id="float-right">
            	<nav class="navbar">
					<a href="/users/login">Log in</a>
					<a href="/users/signup">Sign up</a>
               	 	<a href="/trades/new">Create New Post</a>
             	 	
            	</nav>
            </div>
            <div id="float-none">
    			<nav>
    				<a href="/"><img class="logo_image" src="/images/logo.png" alt="ArtDeck_logo"></a>
					<a href="/home">Home</a>
				</nav>
    		</div>
        </div>
 	</div>