<%- include('./partials/header.ejs') %>

      <div class="container">
        <div class="intro">
        <p class="h3"><%=error.status%></p>
        <p class="h4 mb-3" ><%=error.message %></p>
      </div>
      
      </div>
<%- include('./partials/footer.ejs') %>