/* common elements */
.dark-weight-btn{
    font-weight: bold;
    padding: 7px;
}

/*Wrapper*/

.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

/* Header */
.logo {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000!important;
    font-size: 28px;
    padding-left: .5rem;
    padding-right: .5rem;
}

.btn-login {
    font-weight: bold;
    color: #000!important;
    margin-right: 15px;
    margin-left: 15px;
}

.btn-login:hover {
    background-color:rgba(0,0,0,.04)!important;
    color: #000;
}
  .nav-item .header-menu-item:hover {
    color: #59C2B6!important;
  }

  .nav-item .header-menu-item .btn:hover {
    color: #59C2B6!important;
  }

  /*Header background*/
  .header-footer-background {
    background-image: linear-gradient(to right, #FC575E, #F7B42C);
  }
/* main css */
.main-content-title {
    color: #59C2B6;
    font-weight: bold;

    font-family: 'Montserrat';
}

main {
    flex: 1;
}

.intro {
margin-bottom: 20px;
}

/* footer css */
.footer-theme {
    background-color: #000;
}

.footer-theme ul li a {
    color: #fff;
}

.footer-theme .navbar-brand {
    color: #fff;
}
.footer-menu-item {
    color: #fff;
}

.footer-menu-item {
    color: #fff!important;
}

.footer-menu-item:hover {
    text-decoration: underline;
}

.copyright {
    color: #fff!important;
}


.form-group {
    margin-bottom: 20px;
}
.form-control {
    margin-top: 10px;
}
.btn-create-trade .btn-outline-success:hover {
    border-color:#59C2B6;
    color: #fff;
    background-color: #59C2B6;
}

.form-control:focus {
    border-color: #59C2B6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(89, 194, 182, 0.6);
  }


.form-width {
    width: 30% !important;
}

/*Media Queries*/
/*Trades */
@media (max-width: 993px) {
    .btn-login {
        margin: 0;
        margin-bottom: 10px;
    }
}