<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title">Project Description</h5>
          <p class="card-text">  This is a blog application where users can post content. The users in the
            system can view the contents of the other users and express their views on the content
            using votes, and comments.</p>
        </div>
      </div>
</div>

<%- include('../partials/footer.ejs') %>