<!-- <html>
    <h1>Please log in</h1>
</html> -->
<%- include('../partials/header.ejs') %>
<div class="container">   
    <div class="form">
        <form action = '/users/login' method = 'POST'>
     <div class="row mb-3">
      <label for="email" class="col-sm-3 col-form-label text-center">Email Address</label>
      <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email" required placeholder="Email Address">
     </div>
     </div>
     <div class="row mb-3">
      <label for="password" class="col-sm-3 col-form-label text-center" >Password</label>
      <div class="col-sm-9">
          <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
     </div>
 </div>
            
 <button class="btn btn-primary btn-create-trade">Login</button>
          
  </form>
  </div>
</div>
<%- include('../partials/footer.ejs') %>