<!-- <!DOCTYPE html>
<body>
    <h1>Please sign up</h1>
</body>
</html> -->

<%- include('../partials/header.ejs') %>
<div class="container">   
      <div class="form">
    <form action = '/users/signup' method = 'POST'>
        <div class="row mb-3">
        <label for="firstName" class="col-sm-3 col-form-label text-center">First Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="firstName" name="firstName" required>
        </div>
        </div>
        <div class="row mb-3">
             <label for="lastName" class="col-sm-3 col-form-label text-center" >Last Name</label>
             <div class="col-sm-9">
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="bio" class="col-sm-3 col-form-label text-center">Bio</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="bio" name="bio" required>
           </div>
       </div>
       <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label text-center">Email Address</label>
        <div class="col-sm-9">
            <input type="email" class="form-control" id="email" name="email" required>
       </div>
       </div>
       <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label text-center">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" required>
       </div>
   </div>
              
   <button class="btn btn-primary btn-create-trade">Register</button>
            
    </form>
    </div>
</div>
<%- include('../partials/footer.ejs') %>